*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
text-align: center;
max-width: 1000px;
margin: 0 auto;
}

.title h1{
    font-size: 40px;
}

.title p{
    padding-top: 30px;
}